body {
        font-family: "Montserrat" !important;
    }
:root {
  /* Obliga al navegador a respetar la paleta de colores del autor */
  color-scheme: light dark; 
  forced-color-adjust: none; /* Bloquea el ajuste automático de colores del sistema */
  -webkit-tap-highlight-color: transparent;
}

/* Si tu app está en modo light, forzamos al sistema a no invertir nada */
html[data-theme='light'] {
  color-scheme: light !important;
}

/* Si está en dark, le decimos que ya somos oscuros */
html[data-theme='dark'] {
  color-scheme: dark !important;
}